# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

# Bzlmod is now the default (Bazel 7+)
# WORKSPACE is kept for backward compatibility but is deprecated
# To use WORKSPACE mode, uncomment the following line:
# common --enable_workspace=true

# Enable isolated extension usages for crate universe
common --experimental_isolated_extension_usages

try-import ./.bazel-remote-cache.rc

build --incompatible_strict_action_env --java_language_version=11 --javacopt='--release 11'
run --incompatible_strict_action_env
test --incompatible_strict_action_env


